<html>
  <head>
    <link rel="stylesheet" href="/{{ 'static' }}/css/style.css">
    {% if title %}
    <title>VocaPoint | {{ title }} </title>
    {% else  %}
    <title> Welcome to our awesome speech recognition application </title>
    {% endif %}
  </head>
  <body>
    <nav>
        <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/pages/1">Upload</a></li>
        <li><a href="/keyword_mapping">Set Up</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
