<html>
  <head>
    <link rel="stylesheet" href="{{ 'static' }}/css/style.css">
    {% if title %}
    <title>{{ title }} - fancy_name </title>
    {% else  %}
    <title> Welcome to our awesome speech recognition application </title>
    {% endif %}
  </head>
  <body>
    <nav>
        <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/upload">Upload new file</a></li>
        <li><a href="/capture_audio">Capture Audio</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
