{% extends "base.html" %}
{% block content %}
    <div class="background">
        <div class="caption">
            <h1>Cool Application</h1>
            <button class="btn"><a href="/upload">Upload new file</a></button>
        </div>
        <div class="intro">
        <img class="index-img" src="../static/upload-new.png">
        <img class="index-img" src="../static/present-new.png">
        <img class="index-img" src="../static/mikro-new.png">
        <h3>Control your presentation by talking</h3>
        </div>
{% endblock %}
</div>