{% extends "base.html" %}
{% block content %}
 <!-- Add navigation on hover -->

  <div id="mySidenav" class="sidenav">
    <a href="/index" id="exit">Exit</a>
  </div>

  {% if prev_id > 0 %}
  <a href="{{ url_for('display_pages', page=prev_id) }}">
    &lt;&lt; Back</a>
    {% else %}&lt;&lt; Back{% endif %} |

  {% if next_id > 0 %}
  <a href="{{ url_for('display_pages', page=next_id) }}">
  Forward &gt;&gt;</a>
  {% else %}Forward&gt;&gt;{% endif %}

  <img src="{{url_for('static', filename=this_filename)}}" alt="test picture"/>
{% endblock %}
