{% extends "base.html" %}
{% block content %}
 <!-- Add navigation on hover -->

  <div id="mySidenav" class="sidenav">
    <a href="/index" id="exit">Exit</a>
  </div>

    <div id="mySidenav-left" class="sidenav">
  {% if prev_id > 0 %}
  <a href="{{ url_for('display_pages', page=prev_id) }}">
    Back</a>{% endif %}
    </div>

    <div id="mySidenav" class="sidenav">
  {% if next_id > 0 %}
  <a href="{{ url_for('display_pages', page=next_id) }}">
  Next</a>{% endif %}
    </div>

    <img class="pages" src="{{url_for('static', filename=this_filename)}}" alt="test picture"/>
{% endblock %}
