{% extends "base.html" %}
{% block content %}
 <!-- Add navigation on hover -->

  <div id="mySidenav" class="sidenav">
    <a href="/index" id="exit">Exit</a>
  </div>

{% for post in posts.items %}
    <p>This is slide: {{ post.id }}</p>
    {% endfor %}
    {% if posts.has_prev %}<a href="{{ url_for('display_pages', page=posts.prev_num) }}">&lt;&lt; Back</a>{% else %}&lt;&lt; Back{% endif %} |
    {% if posts.has_next %}<a href="{{ url_for('display_pages', page=posts.next_num) }}">Forward &gt;&gt;</a>{% else %}Forward &gt;&gt;{% endif %}
{% for post in posts.items %}
    <img src="{{url_for('static', filename=post.filename)}}" alt="test picture"/>
    {% endfor %}
{% endblock %}
