html, body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:0;
    height:100%;
    overflow:hidden;
}

/* full with images */
img{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}

/* full with background on index page */
.background {
    /* The image used */
    background-image: url("../berge.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 20%;
    top: 40%;
    width: 70%;
    text-align: center;
    color: #000;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 10px;
}

.upload {
    position: absolute;
    top: 30%;
    left: 20px;
    background-color: aliceblue;
}

.buttons {
    postion: absolute;
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid #000;
    margin-bottom: 10px;
}

a {
    color: #000;
   text-decoration: none;
}

/*navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h2 {
    font-size: 24px;
    margin: 0 20px 0 20px;
    padding-top: 40px;
    color: #000;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 10px;
}